

.section1{

background-color: brown;
margin-left: 15px;
padding-top: 50px;
height: 1200px;
clip-path: polygon(  0 0, 100% 0, 100% calc(92% - 40px), calc(92% - 30px) 100%, 0 100%)
}
.s-i-1{
    padding-left: 15px;
    padding-top: 20px;
height:  120px;
padding-bottom: 20px;
}

.s-b-1{
     padding-left: 90px;
width: 150px;
margin-top: -25px;
margin-top: 30px;
}


.box1{
    background-color: brown;
    height: 45px;
     width: 450px;
     margin-top: -15px;
 border-color: beige;
}

.s-b-2{
 padding-left: 90px;
width: 150px;
text-align: center;
padding-top: 20px;

}
.box2{
    background-color: brown;
      width: 450px;
    height: 45px;
 
     border-color: beige;
}

.s-b-3{
 padding-left: 90px;
width: 150px;
text-align: center;
padding-top: 20px;


}

.box3{
    background-color: brown;
    width: 450px;
    height: 45px;

    border-color: beige;
   
}
.h-boxes{
    display: flex;
    
}
.heading1{
    
    font-size: 55px;
    text-align: center;
    align-content: center;
padding-top: 170px;
padding-left: 110px;
font-weight: bolder;
font-family: Verdana;
letter-spacing: -3px;
color: blanchedalmond;

}
.heading2{
    padding-left:140px;
    margin-top: -80px;
    font-size: 18px;
    font-family: sans-serif;
  
}


.heading3{
    padding-left: 135px;
    font-size: 20px;
  font-family: Verdana;
 margin-top: -20px;
 letter-spacing: -2px;
}
.rheading1{
     padding-left: 90px;
padding-top: 30px;
font-size: 30px;
font-weight: bold;
font-family: Verdana;
letter-spacing: -2px;

}
.rheading2{
    font-size: 12px;
    padding-left: 90px;
    color: azure;
    font-family: sans-serif;
}

.button-2{
  width: 15px;
  height: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#maindiv1{
   
     padding-left: 90px;
      width: 450px;
}

#m-2{
    display: flex; 
    align-items: center;
     gap:45px;
}
#m-3{
    display: flex;
    align-items: center; 
    width: 50%;
    padding-left: -3px;
}
    
#m-4{
    margin-left: -4px;
   
}


#maindiv2{
    padding-left: 90px;
    width: 450px;
}
#s-2{
    display: flex;
    align-items: center;
    gap: 117px;
}
.box5{
    width: 450px;
    height: 80px;
    background-color: brown;
    border-color: aliceblue;
}
    #maindiv3{
        padding-left: 90px;
        width: 450px;
    }
    #p-2{
        gap: 91px;
        align-items: center;
        display: flex;
    }
#maindiv4{
    width: 450px;
    padding-left: 90px;
}
#q-2{
    gap: 90px;
    display: flex;
    align-items: center;
}
#maindiv5{
    padding-left: 90px;
    width: 450px;
}
#v-2{
    display: flex;
    align-items: center;
    gap: 97px;
}


    



     
  